body {
    max-width: 1366px;
}

a {
    text-decoration: none;
    color: black;
}

h2 {
    color: $blue_03;
    font-size: 20px;
    line-height: 23px;
    margin: 50px 0 32px;
    font-family: helvetica;
}

